.dropdown {
    --fz: 40px;
    --width: 10em;
    display: inline-block;
    -webkit-user-select: none;
}

.dropdown, .dropdown__list {
    margin: 0; /* resets the entire list's margin to 0 */
    padding: 0; /* resets the entire list's padding to 0 */
}

.dropdown__list {
    display: none; /* hides the nested list by default */
    margin: 3px 0 -3px 0; /* repositions the nested list */
}

.dropdown_open .dropdown__list {
    display: block;
}

.dropdown__title {
    cursor: pointer;
}


.dropdown {
    border: 0.05em solid #d7d7d7; /* sets a border around the unordered list */
    width: var(--width);
    font-size: var(--fz);
}


ul.dropdown li{
    background-color: #e7e7e7; /* sets the list's default background color */
    list-style-type: none; /* removes the list's bullets */
    padding-bottom: 3px; /*  expands all lists bottom area (padding) with 3 pixels */
}
ul.dropdown li:hover {
    background-color: #e1e1e1; /* sets the background color on hover */
}
ul.dropdown li a {
    color: #444; /* sets all links color */
    text-decoration: none; /* removes the link's default decoration (underline) */
    padding-left: 0.5em; /* adds padding to the left at all links */
    padding-bottom: 0.4em; /* adds padding to the bottom at all links */
}
